body {
  background: linear-gradient(135deg, #f9f9f9 0%, #e1ecf4 100%);
  font-family: sans-serif, Arial, Helvetica;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #3d52a0;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
}

h2,
h3,
h4 {
  text-align: left;
}

h5,
p {
  color: #4a4a4a;
  line-height: 1.5;
}

button {
  background-color: #3d52a0;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background-color: #003f66;
}

.app-container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.app-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 87, 146, 0.3);
  margin-bottom: 40px;
  color: #3d52a0;
}

.app-header--title {
  font-size: 42px;
  font-weight: 700;
  color: #3d52a0;
}

/* Dropdown menu */
.Select-control {
  background-color: #ffffff;
  max-width: 600px;
  padding: 5px;
  text-align: left;
  display: block;
  margin-bottom: 20px;
}

.tabs-container {
  width: 90%;
  margin-bottom: 20px;
}

.class-tabs {
  background-color: #f0f8ff;
  border-bottom: 2px solid #3d52a0 !important;
}

.class-tab {
  color: #3d52a0 !important;
  padding: 12px 20px;
  font-weight: 600;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.tab--selected {
  background-color: #3d52a03d !important;
  color: #ffffff !important;
  border-top: 4px solid #3d52a0 !important;
}

.class-upload {
  background-color: #3d52a0;
  color: #ffffff;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  max-width: 400px;
  margin: 10px auto;
}

.dash-table-container {
  margin-top: 20px;
  border: 1px solid #3d52a0;
}

.dash-cell {
  background-color: #f9f9f9 !important;
  color: #333333;
  padding: 8px !important;
}

.dash-header {
  background-color: #3d52a0 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  padding: 10px !important;
}
