body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #26313b;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 5px;
}

h2,
h3,
h4 {
  text-align: left;
}

h5 {
  color: #26313b;
}

p {
  color: red;
}

button {
  background-color: white;
  border: 1.8px solid grey;
  border-radius: 8px;
  padding: 12px 24px;
  max-width: 600px;
  cursor: pointer;
  text-align: center;
  margin: 12px;
}

.app-container {
  padding: 40px 20px;
}

.app-header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 30px;
}

.app-header--title {
  color: #26313b;
}

.Select-control {
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  color: #26313b;
  padding: 6px;
  margin: 10px;
}

.tabs-container {
  width: 85%;
  margin-top: 10px;
}

.class-tabs {
  border-top-left-radius: 3px;
  background-color: #ffffff;
  padding: 0px 24px;
  border-bottom: 1px solid lightgrey;
}

.class-tab {
  color: #26313b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.tab--selected {
  color: #26313b;
  box-shadow: 1px 1px 0px white;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-top: 4px solid #26313b !important;
}

.class-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 10px;
}
